@charset "UTF-8";
@font-face { /* Importando fonte de texto local */
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
	background-color: #dddddd; /* Cor de fundo da página */
	color: rgba(0,0,0,1); /* Cor da letra */
}

/* Configuração da div interface */

div#interface {
	width: 900px;
	background-color: #ffffff;
	margin: -20px auto 0px auto; /* Centralizar o conteúdo da página */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Borda com sombra */
	padding: 10px;
}

p {
	text-align: justify; /* Alinhamento justificado */
	text-indent: 50px; /* Indentar o parágrafo */
}

header#cabecalho img#icone {
	position: absolute; /* Configurar o ícone o óculos para alinhar a esquerda */
	left: 780px;
	top: 70px;
}

header#cabecalho {
	border-bottom: 1px #606060 solid; /* Criar linha */
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 { /* Configuração do título principal */
	font-family: 'FonteLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	padding: 0px;
	margin-bottom: 0px;
}

header#cabecalho h2 { /* Configuração do subtítulo */
	font-family: 'Titillium Web', sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}

/* Formatação de imagens com legendas */

figure.foto-legenda {
	position: relative;
	border: 8px solid white; /* Borda da figura */
	box-shadow: 1px 1px 4px black; /* Sombra da borda */
}

figure.foto-legenda img {
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
	opacity: 1; /* Configuração para exibir a legenda */
}

/* Formatação do menu */

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 300px;
}

nav#menu ul {
	list-style: none; /* Tirar o marcador da lista */
	text-transform: uppercase; /* Letras em maiúscula */
}

nav#menu li {
	display: inline-block; /* Faz o bloco exibir em uma única linha */
	background-color: #dddddd;
	padding: 10px; /* Espaço dentro dos objetos */
	margin: 2px; /* Espaço entre os objetos */
	transition: background-color 1s; /* Efeito de transição quando mover o mouse no link */
}

nav#menu li:hover {
	background-color: #606060; /* Cor  */
}

nav#menu h1 {
	display: none; /* Esconder o texto menu principal */
}

nav#menu a {
	color: #000000;
	text-decoration: none; /* Tirar o sublinhado do link */
}

nav#menu a:hover {
	color: #ffffff; /* Letra do link muda de cor quando passar o mouse */
}

/* Configuração da sessão */

section#corpo {
	display: block; /* Mostrar como bloco */
	width: 500px;
	float: left; /* Flutue para o lado esquerdo */
	border-right: 1px solid #606060;
	padding-right: 20px; 
}

/* Configuração da lateral */
aside#lateral {
	display: block;
	width: 350px;
	float: right; /* Flutue para o lado direito */
}

/* Configuração do rodapé */
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}

footer#rodape p {
	text-align: center;
}